<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Farquad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1AA979D1C977B7E00CC8AFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1AA97B01C977B7F00CC8AFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1AA97BB1C977B7F00CC8AFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
